name: Build Scheme Program

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Compile Scheme Program
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies on Ubuntu
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt update
        sudo apt install chicken-bin -y

    - name: Install dependencies on macOS
      if: matrix.os == 'macos-latest'
      run: brew install chicken

    - name: Install dependencies on Windows
      if: matrix.os == 'windows-2019'
      run: choco install chicken
        
    - name: Compile Scheme Program with Chicken Scheme on non-Windows
      if: matrix.os != 'windows-latest'
      run: csc -static main.scm

    - name: Compile Scheme Program with Chicken Scheme on Windows
      if: matrix.os == 'windows-latest'
      run: C:\tools\chicken\bin\csc -static main.scm 

    - name: Upload executable for Windows
      if: matrix.os == 'windows-latest'
      uses: actions/upload-artifact@v3
      with:
        name: compiled-program-${{ matrix.os }}
        path: main.exe
    
    - name: Upload executable for non-Windows
      if: matrix.os != 'windows-latest'
      uses: actions/upload-artifact@v3
      with:
        name: compiled-program-${{ matrix.os }}
        path: main
 
